.templateContainer {
  display: flex;
  max-height: 100%;
  width: 100%;
}

.memeDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
}

.memeText {
  font-family: impact;
  max-height: 30px;
  max-width: 400px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  cursor: pointer;
  background: transparent;
}

.button,
.textInput {
  margin: 0.5rem;
}

#memePic {
  pointer-events: none;
  max-height: 100%;
}
