.App {
  display: flex;
  background: rgba(255, 255, 255, 0.514);
  border-radius: 1rem;
  margin: 5rem;
}

.options {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button,
.textInput {
  margin: 15px;
  width: 30%;
}

.buttons,
.inputFields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0px 20px;
}

.templateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 60%;
  height: 30vw;
  margin: 4rem;
}

.memeDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 0;
  background: transparent;
}

.memeText {
  font-family: impact;
  max-height: 30px;
  max-width: 400px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  cursor: pointer;
  background: transparent;
}

#memePic {
  pointer-events: none;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .selectScreen {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .selectScreen {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .selectScreen {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
