input[type="file"] {
  display: none;
}

.topContainer {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 90%;
}

@media screen and (min-width: 922px) {
  .topContainer {
    max-width: 80%;
  }
}

.templateContainer {
  display: table;
  max-height: 70vh;
  margin: auto;
}

.memeDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
}

.memeText {
  font-family: impact;
  max-height: 30px;
  max-width: 400px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  cursor: pointer;
  background: transparent;
}

.button,
.textInput {
  margin: 0.5rem;
}

#memePic {
  max-height: 70vh;
  max-width: 60vh;
  pointer-events: none;
  object-fit: scale-down;
}
