* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selectScreen {
  padding: 0 5rem;
}

.title {
  width: 100%;
  font-family: "Lobster";
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.subtitle {
  font-family: Lobster;
  text-align: center;
}

.subtitle p {
  margin: 1rem 0;
}

.logo {
  width: 30px;
}

#top {
  font-size: 6rem;
}
