.button {
  margin: 15px;
  width: 250px;
}

.buttons {
  margin: 0px 20px;
}

.App {
  text-align: center;
}


#memePic{
  max-width: 750px;
  max-height: 450px;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
}

.memeText{
  font-family: impact;
  font-size: 30px;
  max-height: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.00px; 
  position: absolute;
  cursor: pointer;
}

.memeTextSmall{
  font-family: impact;
  font-size: 20px;
  max-height: 20px;
  width: 100%;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.00px; 
  position: absolute;
  text-align: center;
  cursor: pointer;
}

#textBottom{
  bottom: 85px;
}

.memeContainer {
  position: relative;
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}